<div class="container p-4">
    <h2 class="text-primary text-bold text-center">Nuestro Equipo</h2>
    <div class="container container-fluid row p-3">
    <div class="col-sm-4">
        <div class="card mx-5" style="width: 22rem;">
            <img src="../../../assets/img/user1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card mx-5" style="width: 22rem;">
            <img src="../../../assets/img/user2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card mx-5" style="width: 22rem;">
            <img src="../../../assets/img/user3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>

</div>
</div>
